body {
    font-family: Arial, sans-serif;
    background-color: #F7CAC9 ;
    margin: 0;
    padding: 0;
}

header {
    background-color:#E6E6FA;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 50px 20px;
    
}
p {

  text-align:center;
}

section h2 {
    text-align: center;
}

.food-item {
    text-align: center;
    margin-bottom: 50px;
}

.food-item img {
    width: 200px;
    border-radius: 10px;
}

footer {
    background-color: #8A2BE2;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}